<div class="mainWrapper">
  <div class="banner">
    <div class="leftBanner">
      <h1>Vehicle Owner Instructions</h1>
      <ul>
        <li>Step 1. Sign Up</li>
        <li>Step 2. Add Your Vehicles</li>
        <li>Step 3. Schedule an Oil change to come to you (Home, Work, Office, etc)</li>
        <li>Step 4. Do anything wait. (but wait around at a oil shop)</li>
      </ul> 
    </div>  
    <div class="rightBanner">
      <h1>Mechanic Instructions</h1>
      <ul>
        <li>Step 1. Register Your Business</li>
        <li>Step 2. Verify Mechanic Credentials</li>
        <li>Step 3. Assign yourself to mobile oil change jobs</li>
        <li>Step 4. Make money on your own time</li>
      </ul> 
    </div>
  </div>

  <div class="loginBlocks">
    <div class="ownerLogin">
      <form name="owner_Login">
        <h2>Vehicle Owner Login</h2>
        <input id="top" type="text" placeholder="Email"</input>
        <input id="bottom" type="text" placeholder="Password"></input>
        <input type="button" value="Sign In"></input>
    </div>  </form>

  <div class="mechanicLogin">
    <form name="mechanic_Login">
      <h2>Mechanic Login</h2>
      <input id="top" type="text" placeholder="Email"></input>
      <input id="bottom" type="text" placeholder="Password"></input>
      <input type="button" value="Sign In"></input>
  </div>     </form>   

  <div class="otherLogin">
    <h6>Sign in with:</h6>
    <div class="loginImg">
      <a href="#"> <img src="/assets/facebook_login_lte.png" /> </a>
      <a href="#"> <img src="/assets/twitter_login_lte.png" />  </a>
      <a href="#"> <img src="/assets/googleplus_login_lte2.png" /></a>
    </div>
  </div>  
    

  <div class="otherLogin">
    <h6>Sign in with:</h6>
    <div class="loginImg">
      <a href="#"> <img src="/assets/facebook_login_lte.png" /> </a>
      <a href="#"> <img src="/assets/twitter_login_lte.png" />  </a>
      <a href="#"> <img src="/assets/googleplus_login_lte2.png" /></a>
    </div>  
  </div> 
  </div>

</div>  
