// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.location-form-box {
  display: inline-block;
}

#map_canvas {
  display: inline-block; 
  height: 225px; 
  width: 60%; 
}
.map_canvas { 
  height: 350px; 
  width: 520px; 
}

textarea {
  height: 250px;
  width: 400px;
}
select {
  width: 50px;
}