$darkgray:  #2E3030;
$medgray:   #61625F;
$lightgray: #A3A3A3;

$splash:      #54B7D6;
$lightsplash: #66BDD8;     
$darksplash:   #2A9BBE;

$topsplash:   #98CDDD;
$leftsplash:  #71B9CF;
$rightsplash:  #45A1BE;
$bottomsplash:#0B7B9E;