// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colorkey.scss';

li {
  list-style-type: none;
}
#yield {
  padding: 10px;
}

.banner-box {
  display: inline-block;
  width: 46%;
  margin: 10px 7px 0px 8px;
  vertical-align: top;
  padding: 10px;
  box-shadow: 0px 2px 7px $medgray;
  border-radius: 3px;
  min-height: 220px;
}


.login-blocks {
     .user-login {
      background-image: url('/assets/med_dotted.png');
      background-repeat: repeat;
      margin-right: 15px;
      display: inline-block;
      width: 300px;
      background-color: $medgray;

      border-radius: 3px 3px 0px 0px;
      border-bottom: 1px #2E2E2E solid;
    }
    h2, h5 {
      color: #7db9e8;
      text-align: center;
    }

    input {
      display: block;
      margin: 10px;
      padding-left: 5px;
      width: 200px;

      color: gray;
      line-height: 28px;
      font-size: 14px;

      border-top: 2px $topsplash solid;
      border-right: 2px $rightsplash solid;
      border-left: 2px $leftsplash solid;
      border-bottom: 2px $bottomsplash solid;

      background-color: rgba(255, 255, 255, .2);
    }
    input#top{
      margin: 0px auto;
      border-top: 1px rgba(0, 0, 0, .1) solid;
      border-right: 1px rgba(0, 0, 0, .1) solid;
      border-left: 1px rgba(0, 0, 0, .1) solid;
      border-bottom: none;
      border-radius: 3px 3px 0px 0px;
    }

    input#bottom {
      margin: 0px auto -10px;
      border-top: 1px #9B9B9B solid;
      border-bottom: 1px rgba(0, 0, 0, .1) solid;
      border-right: 1px rgba(0, 0, 0, .1) solid;
      border-left: 1px rgba(0, 0, 0, .1) solid; 
      border-radius: 0px 0px 3px 3px; 
    }
    input[type="button"] {
      border-radius: 3px;
      width: 213px;
      background-color: $splash;
      margin: 20px auto;
      color: white;

      background: #7db9e8; /* Old browsers */
      background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 52%, #207cca 53%, #1e5799 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(52%,#2989d8), color-stop(53%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 52%,#207cca 53%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 52%,#207cca 53%,#1e5799 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 52%,#207cca 53%,#1e5799 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 52%,#207cca 53%,#1e5799 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

    }
    input:hover {
      box-shadow: 0px 0px 8px $splash !important;

    }
    .otherLogin {
      display: inline-block;
      width: 300px;      
      margin-right: 15px;
      margin-top: -1px;
      background-color: $darkgray;
      

      display: inline-block;

      border-top: 1px #979797 inset;
      border-radius: 0px 0px 3px 3px;

    }
    a {
      text-decoration: none;
    }
     
    img {
      width: 40px;
    }
    img:active {
      border: 1px 1px black solid;
      background-color: rgba(0, 0, 0, .2);
      border-radius: 3px;
    }
    img:hover {
      box-shadow: 0px 0px 3px $splash;
    }
    .loginImg {
      display: inline-block;
      margin: 10px 140px;
    }

}    