// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colorkey.scss';

li {
  list-style-type: none;
}
#yield {
  padding: 10px;
}

.banner {
  width: 100%;
  height: 200px;
  h1 {
    font-size: 170%;
    text-align: center;
  }

}
.leftBanner, .rightBanner {
  display: inline-block;
  width: 46%;
  margin: 0px 7px 0px 8px;
  vertical-align: top;
  padding: 10px;
  box-shadow: 0px 2px 7px $medgray;
  border-radius: 3px;
  min-height: 220px;
}
.rightBanner {

}

.loginBlocks {
    margin-left: 160px;
    margin-top: 60px;

     .ownerLogin, .mechanicLogin {
      background-image: url('/assets/med_dotted.png');
      background-repeat: repeat;
      margin-right: 15px;
      display: inline-block;
      width: 300px;
      background-color: $medgray;

      border-radius: 3px 3px 0px 0px;
      border-bottom: 1px #2E2E2E solid;
    }
    h2 {
      font-size: 22px;
      text-align: center;
      color: rgba(180, 180, 180, 0.83);
      text-shadow: -1px -1px 1px #202020;
    }

    input {
      display: block;
      margin: 10px;
      padding-left: 5px;
      width: 200px;

      color: white;
      line-height: 28px;
      font-size: 14px;
      text-shadow: 1px 1px 3px $darkgray;
      border-top: 2px $topsplash solid;
      border-right: 2px $rightsplash solid;
      border-left: 2px $leftsplash solid;
      border-bottom: 2px $bottomsplash solid;

      background-color: rgba(255, 255, 255, .2);
    }
    input#top{
      margin: 0px auto;
      border-top: 1px rgba(0, 0, 0, .1) solid;
      border-right: 1px rgba(0, 0, 0, .1) solid;
      border-left: 1px rgba(0, 0, 0, .1) solid;
      border-bottom: none;
      border-radius: 3px 3px 0px 0px;
    }

    input#bottom {
      margin: 0px auto -10px;
      border-top: 1px #9B9B9B solid;
      border-bottom: 1px rgba(0, 0, 0, .1) solid;
      border-right: 1px rgba(0, 0, 0, .1) solid;
      border-left: 1px rgba(0, 0, 0, .1) solid; 
      border-radius: 0px 0px 3px 3px; 
    }
    input[type="button"] {
      border-radius: 3px;
      width: 213px;
      background-color: $splash;
      margin: 20px auto;

    }
    input:hover {
      box-shadow: 0px 0px 8px $splash !important;

    }
    .otherLogin {
      display: inline-block;
      width: 300px;      
      margin-right: 15px;
      margin-top: -1px;
      background-color: $darkgray;
      

      display: inline-block;

      border-top: 1px #979797 inset;
      border-radius: 0px 0px 3px 3px;

    }
    a {
      text-decoration: none;
    }

     
    img {
      width: 40px;

    }
    img:active {
      border: 1px 1px black solid;
      background-color: rgba(0, 0, 0, .2);
      border-radius: 3px;
    }
    img:hover {
      box-shadow: 0px 0px 3px $splash;
    }
    .loginImg {
      display: inline-block;
      margin-left: 84px;
      margin-bottom: 10px; 
    }
    h6 {
      color: $lightgray;
      font-size: 100%;
      text-shadow: 0px -1px 2px black;
      margin: 10px 98px 5px;
      vertical-align: middle;
    }

}    