// Place all the styles related to the owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colorkey.scss';

/********************* GENERAL INFO *********************************************/
a {
  margin: 5px;
}
th {
  font-weight: normal;
}
.content-wrapper {
}

.form-links {
  a {
    font-size: 13px;
  }
}
/********************* OWNER INFO *********************************************/
.remember-me {
  label {
    display: inline-block;
    font-size: 13px;
  }
}

.welcome-user {
  border-bottom: 2px $lightgray inset;
  padding: 5px;
}
.owners-info-area {

  div {
    display: inline-block;
    padding-top: 5px;
  }
  .user-name, .user-email, .user-phone, .user-name-form, .user-email-form, .user-phone-form {
   padding-right: 5px;
  }
  input {
    display: inline-block;
    width: 75%;
    border: none; 
  }
  .save-user-info {
    display: none;
  }
  .user-name-form, .user-email-form, .user-phone-form {
    display: none;
  }
}
/********************* VEHICLE INFO *********************************************/
.vehicle-ticket {
  margin: 10px;
  width: 250px;
  min-height: 400px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  border: 1px gray solid;
  font-size: 14px;
  line-height: 24px;
  img {
    padding: 10px 1px 0px 30px;
    width: 25px;
  }
  img:hover {
  }
  .make-model-year {
    padding: 10px;
  }
  .break {
    margin-bottom: 5px;
    border-bottom: 1px rgba(0,0,0, .4) solid;
  }
  input {
    width: 150px;
    border-width: 0px;
    line-height: 18px;
    background-color: whitesmoke;
  }
    input[disabled="disabled"] {
    cursor: pointer;
    background-color: white;
  } 
  .notes {
    line-height: 14px;
    padding: 0px 10px;
    margin-bottom: 5px;
    div {
      font-size: 13px;
      border-top: 1px rgba(0,0,0, .2) solid;
      border-bottom: 1px rgba(255,255,255, .2) solid;
      overflow: scroll;
      height: 65px;
    }
  }
  .vehicle-admin {
    position: absolute;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    border-top: 1px rgba(0,0,0, .2) solid;
    a {
      margin: 2px;
    }
    .hidden {
      display: none;
    }
  }
  .notes {
    padding: 5px 5px 100px 5px;
    font-size: 14px;
    background-color: white;
    height: 100px;
    overflow: scroll;
  }
}
/********************* APPOINTMENT INFO *********************************************/
table {
  width: 630px;
  text-align: center;
  th {
    padding: 0px 10px;
    border-bottom: 2px gray solid
  }
  tr {
    border-bottom: 1px #CACACA dashed;
    line-height: 32px;
  }

}
.table {
  width: 630px;
}
.td {
  display: inline-block;
  text-align: center;
}
.thead, thead {
  background: #eeeeee; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */


  box-shadow: 0px 2px 4px -4px gray;
  border: 1px #CACACA solid;
  z-index: 1;

  font-size: 15px;
  line-height: 38px;

  .th {
    display: inline-block;
    text-align: center;
    padding: 0px 7px;
    margin: 0px -2px;
    border-top: 1px rgba(255, 255, 255, 0.71) solid;
    border-right: 1px rgba(0,0,0, .08) solid;
    border-left: 1px rgba(255,255,255, .21) solid;
  }
  .th:first-child {
    border-left: none;
  }
  .th:last-child {
    border-right: none;
    width: 145px;
  }
}  
.tbody {
  max-height: 190px;
  overflow: scroll;
  .even {
  background-color: whitesmoke;
  }
  .odd {
    background-color: #FFFDFD;
  }
  .tr {
    border-bottom: 1px #CACACA dashed;
    height: 55px;
  }
  .td {
    display: inline-block;
    vertical-align: top;
    padding: 0px 7px;
    border-left: 1px rgba(255, 255, 255, 0.14) solid;
    border-right: 1px rgba(0, 0, 0, 0.14) solid;
  }
  .td:first-child {
    border-left: none;
  }
  .td:last-child {
    border-right: none;
  }
  a {
    margin-top: 15px;
  }
}
.app-status {
  min-width: 45px;
}
.app-date {
  min-width: 60px;
}
.app-time  {
  min-width: 100px;
}
.app-vehicle, .app-mechanic {
  min-width: 60px;
}
.app-options {
  min-width: 45px;
}


