// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vehicle-form {
  padding: 10px;
  border: 1px gray solid;
  color: gray;
  .form-field {
  padding: 10px;
  }
  input {
    width: 100%;
    border: 1px gray solid;
    text-indent: 5px;
  }
  input[type=submit] {
    color: white;
  }
}
